# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Locks
*.lock
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn files
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Project Folders
dist/
releases/
img/

# Project Files
Settings.ini

# Lib
lib/steamcmd/*
!lib/steamcmd/steamcmd.exe