# Settings File for Steam Downloader

[Steam]
# Path to the steamapps folder
exepath=C:\Program Files (x86)\Steam
apppath=C:\Program Files (x86)\Steam\steamapps
#Steam user credentials (must own games to download)
user=SteamUser
pass=Steam*Password!

[Downloads]
# Comma seperated list of steam App Ids to download
# App Ids can be found at https://steamdb.info/
appids=

[Options]
# Subscribe to apps in case they are not in account
# Set to true if you are receiving the error No subscription
# Will only work for free games / dedicated servers
subscribe=false